/*Секция преимущества*/

.lol {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-top: 60px;
  margin: 0 auto;
  background-color: $main-white-color;
}
.container {
  justify-content: space-between;
  align-items: center;
  // display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: $main-white-color;
}
.advantages-title {
  // display: flex;
  // justify-content: space-between;
  list-style: none;
  @media screen and (width: 420px) {
    $display: flex;
    $flex-wrap: wrap;
  }
}
.advantages {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.itenn {
  // @media screen and (width: 420px) and(width:768px) {
  //   width: 354px;
  // }
  //   // width: 270px;
}
.mod {
  margin-bottom: 30px;
  // width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  // padding: 25px 102px;
  // margin-right: 30px;
  // margin-bottom: 30px;
  // @media screen and (width: 420px) {
  //   width: 354px;
  // }
}
.icon {
  fill: $fill-color;
  background-size: contain;
}
.second {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
}
.section .advantages-containet {
  padding-top: 94px;
}
