/*команда*/
.section {
  margin: 0 auto;
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}
.important {
  margin-bottom: 50px;
  font-weight: 700;
  // font-size: 36px;
  // line-height: 1.16;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
.section-item-en {
  // display: flex;
  display: block;
  align-content: center;
  justify-content: space-between;
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  // @media screen and (min-width: 768px) {
  // }
  // @media screen and (min-width: 1200px) {
  // }
}

.bot {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 30px;

  background-color: $main-white-color;
  text-align: center;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 768px) {
    width: 430px;
  }
}
.foto_1 {
  @media screen and (min-width: 768px) {
    // width: 354px;
    // height: 374px;
    width: 430px;
    background-image: url(../images/tablet/img_1.jpg);
    background-repeat: no-repeat;
  }
}
.foto_2 {
  @media screen and (min-width: 768px) {
    // width: 354px;
    // height: 374px;
    width: 430px;
    background-image: url(../images/tablet/img_2.jpg);
    background-repeat: no-repeat;
  }
}
.foto_3 {
  @media screen and (min-width: 768px) {
    // width: 354px;
    // height: 374px;
    width: 430px;
    background-image: url(../images/tablet/img_3.jpg);
    background-repeat: no-repeat;
  }
}
.foto_4 {
  @media screen and (min-width: 768px) {
    // width: 354px;
    // height: 374px;
    width: 430px;
    background-image: url(../images/tablet/img_4.jpg);
    background-repeat: no-repeat;
  }
}
.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  padding-top: 30px;
  padding-bottom: 10px;
}
.item-en {
  font-size: 16px;
  line-height: 1.18;
}
.qwerty {
  padding-top: 16px;
  // padding-left: 32px;
  // padding-right: 32px;
  padding-left: 122px;
  padding-right: 122px;
}
.fotoma {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.happe {
  width: 44px;
  height: 44px;
}
.goood {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  fill: $fill-color;
  background-size: contain;
}
