/*подвал*/
.bottom {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}
.lopo {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.elena {
  margin-right: 70px;
}
.bot-logo {
  font-size: 26px;
  line-height: 1.2;
}
.bot-logo .white {
  color: $main-white-color;
}
.white {
  color: $main-white-color;
}
.new {
  color: $accent-color;
}
.bottom .logo {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
}
.white-adderess {
  color: $main-white-color;
  font-size: 14px;
  line-height: 1.71;
  padding-bottom: 9px;
  font-style: normal;
}
.info {
  font-size: 14px;
  line-height: 1.71;
  list-style: none;
  color: $title-text-color;
}
.finish {
  padding-bottom: 9px;
}
.contacts-color {
  display: flex;
  align-items: center;
  color: $title-text-color;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
address {
  font-style: normal;
}
.contacts-color.address {
  color: rgba(255, 255, 255, 0.6);
}
.sow {
  display: block;
  padding-top: 21px;
  margin-right: 93px;
}
.masha svg {
  fill: #ffffff;
}
.foma {
  display: block;
}

.huhu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  list-style: none;
}
.masha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gig {
  padding-top: 20px;
}
.happe {
  width: 44px;
  height: 44px;
}
.vova {
  color: $main-white-color;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 12px;
  padding-bottom: 20px;
}
.dicpley {
  display: flex;
}
.widiid {
  color: $title-text-color;
  width: 358px;
  display: flex;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  padding-left: 28px;
  margin-right: 12px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subutom {
  color: $main-white-color;
  background-color: $accent-color;
  border: $main-white-color;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 28px;
  padding-bottom: 10px;
  padding-right: 62px;
}
.telegram {
  width: 24px;
  height: 24px;
  position: absolute;
  fill: $main-white-color;
  margin-left: 10px;
  margin-top: 3px;
}
.submit {
  color: $main-white-color;
  background-color: $accent-color;
  border: $main-white-color;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 55px;
}
.address {
  color: rgba(255, 255, 255, 0.6);
}
/* подвал */
