/*список кнопок*/
.grid {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}
.navigation .mani {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.sulka {
  color: $accent-color;
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.7px;
  list-style: none;
  text-decoration: none;
}
.mani {
  padding: 6px 22px;
  margin-right: 8px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  flex-basis: calc(100% / 3);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cart-set {
  width: auto;
  flex-basis: calc(100% / 3 - 30px);
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-top: -30px;
  margin-left: -30px;
  list-style: none;
}
.fon {
  width: 370px;
  background-color: $main-white-color;
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid #eeeeee;
}
.product-thumb {
  position: relative;
  overflow: hidden;
}
.corect-photo {
  width: 370px;
  position: relative;
  overflow: hidden;
}
.jpg {
  width: 100%;
}
.apasition {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  top: 100%;
  right: 0%;
  margin: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fontos {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.techno {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 4px;
  margin: 0px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primary-text-color;
}
.site {
  margin: px;
  font-size: 16px;
  line-height: 1.8;
  color: $title-text-color;
}

.bea {
  /* width: 370px; */
  display: flex;
  text-align: center;
  justify-content: end;
  position: relative;
}
.flex {
  margin-bottom: 85px;
}

/*список кнопок*/
