/* modal */
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop .is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.modal {
  display: flex;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: $main-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  width: 100%;
}
.hooh {
  margin-top: 12px;
}
.lili {
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 23px;
}
.label-wid {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.peshka {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  color: $title-text-color;
}
.wid {
  width: 448px;
  height: 40px;
  display: flex;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
}
.rery {
  position: absolute;
  margin-top: 17px;
  margin-left: 15px;
}

.check-label {
  position: relative;
  padding-left: 25px;
  display: flex;
}
.wid-feadback {
  width: 448px;
  height: 120px;
  display: flex;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
}
.checkbox {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 30px;
}
.sogla {
  font-size: 14px;
  line-height: 1.7px;
}
.ssulka {
  margin-left: 5px;
  color: $accent-color;
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.7px;
}
.yoyo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
}

.ewcw {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $main-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.ewcw {
  fill: $black-color;
}
textarea {
  resize: none;
}
.sprte {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 30px;
  background-color: $main-white-color;
}
/* modal */
